<a href="https://colab.research.google.com/github/gade-mythili/pns/blob/main/ass_2_pns(21_01_25).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1: Ungrouped Data
The dataset below represents the ages of 500 people in a city:
Data (Ages):
Data: [45, 67, 89, 23, 45, 67, 89, 34, 56, 78, 90, 21, 45, 67, 89, 23, 45,
56, 78, 34, 23, 45, 67, 89, 45, 67, 89, 12, 34, 56, 78, 90, 23, 45,
67, 12, 34, 78, 45, 67, 89, 34, 56, 78, 90, 23, 56, 78, 89, 45, 12,
67, 45, 78, 23, 45, 67, 89, 34, 45, 23, 78, 67, 89, 45, 67, 89, 12,
34, 56, 78, 90, 23, 12, 34, 56, 78, 23, 45, 67, 89, 34, 45, 23, 45,
67, 89, 12, 34, 56, 78, 90, 45, 23].
• Use numpy and pandas to calculate the median and mode of the dataset.
• Comment on the efficiency of your approach.

In [4]:
ages= [45, 67, 89, 23, 45, 67, 89, 34, 56, 78, 90, 21, 45, 67, 89, 23, 45,
56, 78, 34, 23, 45, 67, 89, 45, 67, 89, 12, 34, 56, 78, 90, 23, 45,
67, 12, 34, 78, 45, 67, 89, 34, 56, 78, 90, 23, 56, 78, 89, 45, 12,
67, 45, 78, 23, 45, 67, 89, 34, 45, 23, 78, 67, 89, 45, 67, 89, 12,
34, 56, 78, 90, 23, 12, 34, 56, 78, 23, 45, 67, 89, 34, 45, 23, 45,
67, 89, 12, 34, 56, 78, 90, 45, 23]

In [5]:
sum(ages)

5146

In [6]:
len(ages)

94

In [7]:
mean=sum(ages)/len(ages)

In [8]:
print(mean)

54.744680851063826

The table below represents the scores of 2000 students in an exam and their corresponding
frequencies:
#Scores (X): [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
#Frequency (F): [200, 350, 400, 300, 250, 200, 150, 80, 50, 20]
#• Use pandas to calculate the median and mode of this grouped data.
#• Write a Python function to handle grouped data calculations efficiently for large datasets.

In [10]:
import numpy as np
import pandas as pd

In [12]:
Scores =[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Frequency=[200, 350, 400, 300, 250, 200, 150, 80, 50, 20]

In [13]:
sum_fx=sum(Frequency*Scores for Frequency,Scores in zip(Frequency,Scores))

In [14]:
sum_f=sum(Frequency)

In [15]:
mean=sum_fx/sum_f

In [16]:
print(mean)

40.45

The following table shows the income distribution of 1000 households (in $1000s):
#Income Range (Class Interval) Frequency
#(0-20) 50
#20  40 120
#40  60 200
#60  80 300
#80  100 220
#100  120 70
#120  140 40
#• Use Python to calculate the median and mode for the grouped data.
#• For mode, determine the modal class.

In [17]:
Income_Range=[(0,20),(20,40),(40,60),(60,80),(80,100),(100,120),(120,140)]
Frequency=[50,120,200,300,220,70,40]

In [18]:
midpoints=[(start+end)/2 for start,end in Income_Range]

In [19]:
sum_fx=sum(Frequency*midpoints for Frequency,midpoints in zip(Frequency,midpoints))

In [20]:
mean=sum_fx/sum(Frequency)

In [21]:
print(mean)

67.8